<div class="max-w-md">
  <div class="text-5xl font-bold my-4">{{ section.settings.title }}</div>
  <div class="my-4">
    <p class="text-base md:text-xl">
      {{ section.settings.subtext_title }}
    </p>
  </div>
  <div class="my-4">
    {% if section.settings.anchor_url == blank %} 
      {% assign shop_url = shop.secure_url %} 
    {% else %} 
      {% assign shop_url = section.settings.anchor_url %} 
    {% endif %}
    <a
      class="bg-green-600 hover:bg-green-800 text-base shadow text-white py-2 px-4 rounded"
      href="{{ shop_url }}"
      >{{ section.settings.anchor_label }}</a
    >
  </div>
</div>

{% schema %} 
  { 
    "name": "Template 404", 
    "tag": "section", 
    "class": "flex justify-center item-center py-7 text-center", 
    "settings": [ 
      { 
        "type": "text",
        "id": "title", 
        "default": "404 Not Found", 
        "label": "404 Heading Title" 
      }, 
      {
        "type": "text", 
        "id": "subtext_title", 
        "label": "404 Heading Subtitle" 
      }, 
      {
        "type": "text", 
        "id": "anchor_label", 
        "default": "Back to homepage", 
        "label":"Button Label" 
      }, 
      { 
        "type": "url", 
        "id": "anchor_url", 
        "label": "Anchor Url" 
      } 
    ]
  } 
{% endschema %}
