/* .header {
  height: 200px;
} */

/* Header Navigation */
.tm-navigation .tm-navigation-dropdown ul.submenu {
  top: 60px;
  visibility: visible;
  transform: scaleY(1);
  opacity: 1;
  z-index: 99;
}

/* Header Icons */
.header-icons ul > li.cart > a,
.header-icons ul > li.search > a,
.header-icons ul > li.account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-icons #customer_login_link,
.header-icons #customer_register_link {
  border: none;
  white-space: nowrap;
}

.header-icons ul > li.account a {
  display: block;
  width: 100%;
  height: auto;
}

.header-icons #customer_login_link:hover,
.header-icons #customer_register_link:hover {
  background: none;
  color: #0075b7;
}
