/* Header Navigation */
.header-bottominner .tm-navigation {
  flex-grow: 0;
}

/* Header Icons */
.header-icons ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-icons ul>li.cart>a,
.header-icons ul>li.search>a,
.header-icons ul>li.account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-icons #customer_login_link,
.header-icons #customer_register_link {
  border: none;
  white-space: nowrap;
}

.header-icons ul>li.account a {
  display: block;
  width: 100%;
  height: auto;
}

.header-icons #customer_login_link:hover,
.header-icons #customer_register_link:hover {
  background: none;
  color: #0075b7;
}